<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- FOOTER -->
	<footer th:fragment="footer" class="py-3 bg-dark" id="footerC">

		<ul class="nav justify-content-center border-bottom pb-3 mb-3">
			<li class="nav-item"><i class="fa-solid fa-phone"></i> <a href="https://allmylinks.com/digitalcontent"></a></li>
		</ul>
		<p class="text-center text-light">
			<img src="/imgs/LOGO1.png" alt="alt" width="20" height="24" />
			&copy; 2022 Digital Content, diseñado por <span class="text-muted">GAES #4</span>
		</p>
		<p class="text-center text-light">Soporte:
		<a href="https://allmylinks.com/digitalcontent"><i class="fa-solid fa-phone"></i></a>
		</p>
		
	</footer>
</body>
</html>
